<div class="modal-footer">
    <div class="card-body" style="z-index: 1;" >
      <div class="form-group row g-2">
        <!-- Input Group -->
        <div class="col-6">
          Thời gian timeout: 
          <input type="text" class="form-control-hover-light" id="inputTimeout" placeholder="XXX" aria-label="XXX" value="60">
        </div>
        <!-- End Input Group -->
      </div>
  </div>
  <button type="button" class="btn btn-white" id="closeCreated" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary btn-create-mission">Save changes</button>
  </div>