{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Thay đổi mật khẩu | Hệ thống quản lý Routine Cecilia Spa</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'logo.ico' %}">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-set/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/select2/dist/css/select2.min.css' %}">

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
  </head>

  <body class="d-flex align-items-center min-h-100">

    <!-- ========== HEADER ========== -->
    <header class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
      <div class="d-flex d-lg-none justify-content-between">
        <a href="index.html">
          <img class="w-100" src="{% static 'assets\svg\logos\logo1.png' %}" alt="Image Description" style="min-width: 7rem; max-width: 7rem;">
        </a>

        
      </div>
    </header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="main pt-0">
      <!-- Content -->
      <div class="container-fluid px-3">
        <div class="row">
          <!-- Cover -->
          <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
            <!-- Logo & Language -->
            <div class="position-absolute top-0 start-0 end-0 mt-3 mx-3">
              <div class="d-none d-lg-flex justify-content-between">
                <a href="#">
                  <img class="w-100" src="{% static 'assets\svg\logos\logo1.png' %}" alt="Image Description" data-hs-theme-appearance="default" style="min-width: 7rem; max-width: 7rem;">
              
                </a>
  
                <!-- Select -->
                <div class="tom-select-custom tom-select-custom-end tom-select-custom-bg-transparent zi-2" style="display:none">
                  <select class="js-select form-select form-select-sm form-select-borderless" data-hs-tom-select-options='{
                            "searchInDropdown": false,
                            "hideSearch": true,
                            "dropdownWidth": "12rem",
                            "placeholder": "Select language"
                          }'>
                    <option label="empty"></option>
                    <option value="language1" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle me-2" src="{% static 'assets/vendor/flag-icon-css/flags/1x1/us.svg' %}" alt="Image description" width="16"/><span>English (US)</span></span>'>English (US)</option>
                    <option value="language2" selected data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle me-2" src="{% static 'assets/vendor/flag-icon-css/flags/1x1/gb.svg' %}" alt="Image description" width="16"/><span>English (UK)</span></span>'>English (UK)</option>
                    <option value="language3" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle me-2" src="{% static 'assets/vendor/flag-icon-css/flags/1x1/de.svg' %}" alt="Image description" width="16"/><span>Deutsch</span></span>'>Deutsch</option>
                    <option value="language4" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle me-2" src="{% static 'assets/vendor/flag-icon-css/flags/1x1/dk.svg' %}" alt="Image description" width="16"/><span>Dansk</span></span>'>Dansk</option>
                    <option value="language5" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle me-2" src="{% static 'assets/vendor/flag-icon-css/flags/1x1/es.svg' %}" alt="Image description" width="16"/><span>Español</span></span>'>Español</option>
                    <option value="language6" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle me-2" src="{% static 'assets/vendor/flag-icon-css/flags/1x1/nl.svg' %}" alt="Image description" width="16"/><span>Nederlands</span></span>'>Nederlands</option>
                    <option value="language7" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle me-2" src="{% static 'assets/vendor/flag-icon-css/flags/1x1/it.svg' %}" alt="Image description" width="16"/><span>Italiano</span></span>'>Italiano</option>
                    <option value="language8" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle me-2" src="{% static 'assets/vendor/flag-icon-css/flags/1x1/cn.svg' %}" alt="Image description" width="16"/><span>中文 (繁體)</span></span>'>中文 (繁體)</option>
                  </select>
                </div>
                <!-- End Select -->
              </div>
            </div>
            <!-- End Logo & Language -->
            <div style="max-width: 40rem;">
              <div class="text-center mb-5">
                <img class="img-fluid" src="{% static 'assets\img\bg\1.png' %}" alt="Image Description" style="width: 40rem;" data-hs-theme-appearance="default">

              </div>
  
              <div class="mb-5" style="display:none">
                <h2 class="display-5"></h2>
              </div>
  
              <!-- List Checked -->
              <ul class="list-checked list-checked-lg list-checked-primary list-py-2" style="display:none">
                <li class="list-checked-item">
                  <span class="d-block fw-semi-bold mb-1"></span>
                  
                </li>
  
                <li class="list-checked-item">
                  <span class="d-block fw-semi-bold mb-1"></span>
      
                </li>
              </ul>
              <!-- End List Checked -->
  
              <div class="row justify-content-between mt-5 gx-3" style="display:none">
                <div class="col">
                  <img class="img-fluid" src="{% static 'assets/svg/brands/gitlab-gray.svg' %}" alt="Logo">
                </div>
                <!-- End Col -->
  
                <div class="col">
                  <img class="img-fluid" src="{% static 'assets/svg/brands/fitbit-gray.svg' %}" alt="Logo">
                </div>
                <!-- End Col -->
  
                <div class="col">
                  <img class="img-fluid" src="{% static 'assets/svg/brands/flow-xo-gray.svg' %}" alt="Logo">
                </div>
                <!-- End Col -->
  
                <div class="col">
                  <img class="img-fluid" src="{% static 'assets/svg/brands/layar-gray.svg' %}" alt="Logo">
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
           
          </div>
          <!-- End Cover --> 

          <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
            <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
              <!-- Form -->
              <form class="js-validate" action="{% url 'changepassword' %}" method="POST" >
                {% csrf_token %}
                <div class="text-center mb-5">
                  <h1 class="display-4">Thay đổi mật khẩu?</h1>
                </div>

                <!-- Form Group -->
                <div class="js-form-message form-group">
                  <label class="input-label" for="inputPassword" tabindex="0">Mật khẩu hiện tại</label>

                  <input type="text" class="form-control form-control-lg" name="password" id="inputPassword" tabindex="1" placeholder="Mật khẩu hiện tại"  required data-msg="Vui lòng nhập mật khẩu.">
                </div>
                <p></p>
                <!-- End Form Group -->
                <!-- Form Group -->
                <div class="js-form-message form-group">
                    <label class="input-label" for="resetPasswordnew" tabindex="0">Mật khẩu mới</label>
  
                    <input type="text" class="form-control form-control-lg" name="password1" id="resetPasswordnew" tabindex="1" placeholder="Mật khẩu mới"  required data-msg="Vui lòng nhập mật khẩu.">
                  </div>
                  <!-- End Form Group -->
                <p></p>
                <!-- Form Group -->
                <div class="js-form-message form-group">
                    <label class="input-label" for="resetPasswordrepeat" tabindex="0">Xác nhận mật khẩu mới</label>
  
                    <input type="text" class="form-control form-control-lg" name="password2" id="resetPasswordrepeat" tabindex="1" placeholder="Xác nhận mật khẩu mới"  required data-msg="Vui lòng nhập mật khẩu.">
                </div>

                <p></p>
                  <!-- End Form Group -->
                <button type="submit" class="btn btn-lg btn-block btn-primary">Lưu</button>

                <div class="text-center mt-2">
                  <a class="btn btn-link" href="{% url 'home' %}">
                    <i class="tio-chevron-left"></i> Trang chủ
                  </a>
                </div>
              </form>
              {% comment %} Display Messages {% endcomment %} {% if message %}
              <hr>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>{{ message }}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="tio-clear tio-lg"></i>
                  </button>
              </div>

              {% endif %}

              <!-- End Form -->
            </div>
          </div>
        </div>
        <!-- End Row -->
      </div>
      <!-- End Content -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- JS Global Compulsory  -->
    <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static 'assets/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/vendor/select2/dist/js/select2.full.min.js' %}"></script>

    <!-- JS Front -->
    <script src="{% static 'assets/js/theme.min.js' %}"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // INITIALIZATION OF FORM VALIDATION
        // =======================================================
        $('.js-validate').each(function() {
          $.HSCore.components.HSValidation.init($(this));
        });

        
        // INITIALIZATION OF SELECT2
        // =======================================================
        $('.js-select2-custom').each(function () {
          var select2 = $.HSCore.components.HSSelect2.init($(this));
        });
      });
    </script>

    <!-- IE Support -->
    <script>
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="{% static 'assets/vendor/babel-polyfill/polyfill.min.js' %}"><\/script>');
    </script>
    <script>
         // username and password
    function validateForm() {
        // var pass_old = document.getElementById("inputPassword").value;
        var pass_new = document.getElementById("resetPasswordnew").value;
        var pass_new_repeat = document.getElementById("resetPasswordrepeat").value;


        if (pass_new != pass_new_repeat) {
            alert("Mật khẩu nhập lại không trùng khớp");
            return false;
        }
        // if (pass_old == "") {
        //     alert("Vui lòng nhập mật khẩu");
        //     return false;
        // }

        // return true;
    }
    </script>
  </body>
</html>

