{% extends 'base.html' %}
{% block tittle %}
  <title>Sản phẩm | Hệ thống quản lý Routine Cecilia Spa</title>
{% endblock tittle %}

{% load static %}

{% block breadcrumb %} 
Home
{% endblock breadcrumb %}

{% block content %}
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="page-header-title">Sản phẩm</h1>
      </div>
      <!-- End Col -->

      <div class="col-auto">
        <a class="btn btn-primary" id="btn-add" href="{% url  'manage_add_product' %}">
          <i class="bi-person-plus-fill me-1"></i>
        </a>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Page Header -->

 

  <div class="row" style="display:none">
    <div class="col-lg-5 mb-3 mb-lg-5">
      <!-- Card -->
      <div class="card h-100">
        <!-- Header -->
        <div class="card-header card-header-content-between">
          <h4 class="card-header-title">Import data into Front Dashboard</h4>

          <!-- Dropdown -->
          <div class="dropdown">
            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="reportsOverviewDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-three-dots-vertical"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="reportsOverviewDropdown2">
              <span class="dropdown-header">Settings</span>

              <a class="dropdown-item" href="#">
                <i class="bi-share-fill dropdown-item-icon"></i> Share chart
              </a>
              <a class="dropdown-item" href="#">
                <i class="bi-download dropdown-item-icon"></i> Download
              </a>
              <a class="dropdown-item" href="#">
                <i class="bi-alt dropdown-item-icon"></i> Connect other apps
              </a>

              <div class="dropdown-divider"></div>

              <span class="dropdown-header">Feedback</span>

              <a class="dropdown-item" href="#">
                <i class="bi-chat-left-dots dropdown-item-icon"></i> Report
              </a>
            </div>
          </div>
          <!-- End Dropdown -->
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="card-body">
          <p>See and talk to your users and leads immediately by importing your data into the Front Dashboard platform.</p>

          <ul class="list-group list-group-flush list-group-no-gutters">
            <li class="list-group-item">
              <h5 class="card-title">Import users from:</h5>
            </li>

            <!-- List Group Item -->
            <li class="list-group-item">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs avatar-4x3" src="{% static 'assets/svg/brands/capsule-icon.svg' %}" alt="Image Description">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="mb-0">Capsule</h5>
                      <span class="d-block fs-6 text-body">Users</span>
                    </div>
                    <!-- End Col -->

                    <div class="col-auto">
                      <a class="btn btn-primary btn-sm" href="#" title="Launch importer" target="_blank">
                        Launch <span class="d-none d-sm-inline-block">importer</span>
                        <i class="bi-box-arrow-up-right ms-1"></i>
                      </a>
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>
              </div>
            </li>
            <!-- End List Group Item -->

            <!-- List Group Item -->
            <li class="list-group-item">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs avatar-4x3" src="{% static 'assets/svg/brands/mailchimp-icon.svg' %}" alt="Image Description">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="mb-0">Mailchimp</h5>
                      <span class="d-block fs-6 text-body">Users</span>
                    </div>
                    <!-- End Col -->

                    <div class="col-auto">
                      <a class="btn btn-primary btn-sm" href="#" title="Launch importer" target="_blank">
                        Launch <span class="d-none d-sm-inline-block">importer</span>
                        <i class="bi-box-arrow-up-right ms-1"></i>
                      </a>
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>
              </div>
            </li>
            <!-- End List Group Item -->

            <!-- List Group Item -->
            <li class="list-group-item">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs avatar-4x3" src="{% static 'assets/svg/brands/google-webdev-icon.svg' %}" alt="Image Description">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="mb-0">Webdev</h5>
                      <span class="d-block fs-6 text-body">Users</span>
                    </div>
                    <!-- End Col -->

                    <div class="col-auto">
                      <a class="btn btn-primary btn-sm" href="#" title="Launch importer" target="_blank">
                        Launch <span class="d-none d-sm-inline-block">importer</span>
                        <i class="bi-box-arrow-up-right ms-1"></i>
                      </a>
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>
              </div>
            </li>
            <!-- End List Group Item -->

            <li class="list-group-item"><span class="small text-muted">Or you can <a class="link" href="#">sync data to Front Dashboard</a> to ensure your data is always up-to-date.</span></li>
          </ul>
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col-lg-7 mb-3 mb-lg-5">
      <!-- Card -->
      <div class="card h-100">
        <!-- Header -->
        <div class="card-header card-header-content-sm-between">
          <h4 class="card-header-title mb-2 mb-sm-0">Monthly expenses</h4>

          <!-- Nav -->
          <ul class="nav nav-segment nav-fill" id="expensesTab" role="tablist">
            <li class="nav-item" data-bs-toggle="chart-bar" data-datasets="thisWeek" data-trigger="click" data-action="toggle">
              <a class="nav-link active" href="javascript:;" data-bs-toggle="tab">This week</a>
            </li>
            <li class="nav-item" data-bs-toggle="chart-bar" data-datasets="lastWeek" data-trigger="click" data-action="toggle">
              <a class="nav-link" href="javascript:;" data-bs-toggle="tab">Last week</a>
            </li>
          </ul>
          <!-- End Nav -->
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-sm mb-2 mb-sm-0">
              <div class="d-flex align-items-center">
                <span class="h1 mb-0">35%</span>
                <span class="text-success ms-2">
                  <i class="bi-graph-up"></i> 25.3%
                </span>
              </div>
            </div>
            <!-- End Col -->

            <div class="col-sm-auto align-self-sm-end">
              <div class="row fs-6 text-body">
                <div class="col-auto">
                  <span class="legend-indicator bg-primary"></span> New
                </div>
                <!-- End Col -->

                <div class="col-auto">
                  <span class="legend-indicator"></span> Overdue
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <!-- Bar Chart -->
          <div class="chartjs-custom">
            <canvas id="updatingBarChart" style="height: 20rem;" data-hs-chartjs-options='{
                      "type": "bar",
                      "data": {
                        "labels": ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7", "May 8", "May 9", "May 10"],
                        "datasets": [{
                          "data": [200, 300, 290, 350, 150, 350, 300, 100, 125, 220],
                          "backgroundColor": "#377dff",
                          "hoverBackgroundColor": "#377dff",
                          "borderColor": "#377dff"
                        },
                        {
                          "data": [150, 230, 382, 204, 169, 290, 300, 100, 300, 225, 120],
                          "backgroundColor": "#e7eaf3",
                          "borderColor": "#e7eaf3"
                        }]
                      },
                      "options": {
                        "scales": {
                          "yAxes": [{
                            "gridLines": {
                              "color": "#e7eaf3",
                              "drawBorder": false,
                              "zeroLineColor": "#e7eaf3"
                            },
                            "ticks": {
                              "beginAtZero": true,
                              "stepSize": 100,
                              "fontSize": 12,
                              "fontColor":  "#97a4af",
                              "fontFamily": "Open Sans, sans-serif",
                              "padding": 10,
                              "postfix": "$"
                            }
                          }],
                          "xAxes": [{
                            "gridLines": {
                              "display": false,
                              "drawBorder": false
                            },
                            "ticks": {
                              "fontSize": 12,
                              "fontColor":  "#97a4af",
                              "fontFamily": "Open Sans, sans-serif",
                              "padding": 5
                            },
                            "categoryPercentage": 0.5,
                            "maxBarThickness": "10"
                          }]
                        },
                        "cornerRadius": 2,
                        "tooltips": {
                          "prefix": "$",
                          "hasIndicator": true,
                          "mode": "index",
                          "intersect": false
                        },
                        "hover": {
                          "mode": "nearest",
                          "intersect": true
                        }
                      }
                    }'></canvas>
          </div>
          <!-- End Bar Chart -->
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <!-- Card -->
  <div class="card mb-3 mb-lg-5">
    <!-- Header -->
    <div class="card-header">
      <div class="row justify-content-between align-items-center flex-grow-1">
        <div class="col-md">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-header-title">Sản phẩm</h4>

           
          </div>
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <!-- Filter -->
          <div class="row align-items-sm-center">
            
            
            <div class="col-md">
              <form>
                <!-- Search -->
                <div class="input-group input-group-merge input-group-flush">
                  <div class="input-group-prepend input-group-text">
                    <i class="bi-search"></i>
                  </div>
                  <input id="datatableSearch" type="search" class="form-control" placeholder="Tìm kiếm..." aria-label="Tìm kiếm...">
                </div>
                <!-- End Search -->
              </form>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Filter -->

        </div>
        <!-- End Col -->

        <div class="col-auto">
                    <!-- Dropdown -->
        <div class="dropdown">
          <button class="btn btn-ghost-secondary" type="button" id="dropdownMenuButtonGhostPrimary" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-table"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonGhostPrimary">
            <div class="d-flex align-items-center justify-content-between form-check form-switch form-switch-between mb-3">
              <label class="form-check-label">Sản phẩm</label>
              <input type="checkbox" id="toggleColumn_product" class="form-check-input" checked>
            </div>

            <div class="d-flex align-items-center justify-content-between form-check form-switch form-switch-between mb-3">
              <label class="form-check-label">Giá</label>
              <input type="checkbox" id="toggleColumn_price" class="form-check-input" checked>
            </div>

            <div class="d-flex align-items-center justify-content-between form-check form-switch form-switch-between mb-3">
              <label class="form-check-label">Công dụng</label>
              <input type="checkbox" id="toggleColumn_function" class="form-check-input" checked>
            </div>

            <div class="d-flex align-items-center justify-content-between form-check form-switch form-switch-between mb-3">
              <label class="form-check-label">Tần suất</label>
              <input type="checkbox" id="toggleColumn_dosage" class="form-check-input" checked>
            </div>

            <div class="d-flex align-items-center justify-content-between form-check form-switch form-switch-between mb-3">
              <label class="form-check-label">Từ khóa </label>
              <input type="checkbox" id="toggleColumn_keyword" class="form-check-input" checked>
            </div>

            <div class="d-flex align-items-center justify-content-between form-check form-switch form-switch-between mb-3">
              <label class="form-check-label">Ước lượng</label>
              <input type="checkbox" id="toggleColumn_estimate" class="form-check-input" checked>
            </div>

            <div class="d-flex align-items-center justify-content-between form-check form-switch form-switch-between">
              <label class="form-check-label">Lưu ý</label>
              <input type="checkbox" id="toggleColumn_note" class="form-check-input" checked>
            </div>
          </div>
        </div>
        <!-- End Dropdown -->
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Header -->

    <!-- Table -->
    <div class="table-responsive datatable-custom">
      <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table" data-hs-datatables-options='{
               "columnDefs": [{
                  "targets": [9],
                  "orderable": false
                }],
               "order": [],
               "info": {
                 "totalQty": "#datatableWithPaginationInfoTotalQty"
               },
               "search": "#datatableSearch",
               "entries": "#datatableEntries",
               "pageLength": 8,
               "isResponsive": false,
               "isShowPaging": false,
               "pagination": "datatablePagination"
             }'>
        <thead class="thead-light">
          <tr>
            <th>STT</th>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Công dụng</th>
            <th>Tần suất sử dụng</th>
            <th>Từ khóa Routine</th>
            <th>Ước lượng sử dụng</th>
            <th>Lưu ý</th>
            <th>Hình ảnh sản phẩm</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          {% for po in list_product %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ po.product }}</td>
            <td>{{ po.price }}</td>
            <td>{{ po.function }}</td>
            <td>{{ po.dosage }}</td>            
            <td>{{ po.keyword }} </td>
            <td>{{ po.estimate }}</td>
            <td>  
              <div class="mb-3 mb-lg-5">
                <textarea class="form-control" placeholder="Textarea field" id="validationInvalidTextarea1" rows="2" style="width: 120px;" readonly>{{ po.note }}</textarea>
              </div>
            </td>
            <td>
              {% for key, values in dict_img.items  %}
                {% if key == po.id %}
                  {% for i in values|slice:"2"  %}
                    <a href="/{{ i.1 }}" data-fslightbox="gallery">
                      <img class="img-fluid" src="/{{ i.1 }}" alt="Image Description" style="height:80px!important; width:80px!important;" >
                    </a>
                  {% endfor %}
                {% endif %}
              {% endfor %}

            </td>

            <td>
              <a class="btn btn-sm btn-primary btn-edit-product" href="{% url 'manage_update_product' id=po.id %}"  title="Cập nhật" >
                <i class="bi bi-pencil-square"></i>
              </a>
              <a class="btn btn-sm btn-danger btn-get-delete-product" href="javascript:;" title="Xóa" data-bs-toggle="modal"  data-bs-target="#DeleteProduct" delete-id-product="{{ po.id }}">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          

          
        </tbody>
      </table>
    </div>
    <!-- End Table -->

    <!-- Footer -->
    <div class="card-footer">
      <!-- Pagination -->
      <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
        <div class="col-sm mb-2 mb-sm-0">
          <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
            <span class="me-2">Hiển thị:</span>

            <!-- Select -->
            <div class="tom-select-custom">
              <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                        "searchInDropdown": false,
                        "hideSearch": true
                      }'>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8" selected>8</option>
                <option value="12">12</option>
              </select>
            </div>
            <!-- End Select -->

            <span class="text-secondary me-2">của</span>

            <!-- Pagination Quantity -->
            <span id="datatableWithPaginationInfoTotalQty"></span>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-auto">
          <div class="d-flex justify-content-center justify-content-sm-end">
            <!-- Pagination -->
            <nav id="datatablePagination" aria-label="Activity pagination"></nav>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Pagination -->
    </div>
    <!-- End Footer -->
  </div>
  <!-- End Card -->


</div>


<!-- Edit Product -->
<div class="modal fade" id="EditProduct" tabindex="-1" aria-labelledby="EditProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditProductLabel">Chỉnh sửa sản phẩm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <!-- Body -->
        <div class="modal-body">
          <!-- Nav Scroller -->
          <div class="js-nav-scroller hs-nav-scroller-horizontal">
            <span class="hs-nav-scroller-arrow-prev" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-left"></i>
              </a>
            </span>
  
            <span class="hs-nav-scroller-arrow-next" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-right"></i>
              </a>
            </span>
  
            
          </div>
          <!-- End Nav Scroller -->
  
          <!-- Tab Content -->
          <div class="tab-content" id="AddCustommerTabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <form id="EditProductForm">
  
                <input type="text" style="display: None;" id="inputEditId" value="">
              
                <!-- Form Sản phẩm -->
                <div class="row mb-4">
                  <label for="inputEditProduct" class="col-sm-3 col-form-label form-label">Sản phẩm <span class="form-label-secondary">*</span></label>
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                      <input type="text" class="form-control" name="product" id="inputEditProduct" placeholder="Sản phẩm " aria-label="Sản phẩm ">
                    </div>
                  </div>
                </div>
                <!-- End Form Sản phẩm -->

                <!-- Form Giá -->
                <div class="row mb-4">
                  <label for="inputEditPrice" class="col-sm-3 col-form-label form-label">Giá<span class="form-label-secondary">*</span></label>
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                      <input type="text" class="form-control" name="price" id="inputEditPrice" placeholder="Giá" aria-label="Giá">
                    </div>
                  </div>
                </div>
                <!-- End Form Giá -->

                <!-- Form Phù hợp da -->
                <div class="row mb-4" style="display: none;">
                  <label for="inputEditFit" class="col-sm-3 col-form-label form-label">Phù hợp da<span class="form-label-secondary">*</span></label>
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                      <input type="text" class="form-control" name="fit" id="inputEditFit" placeholder="Phù hợp da" aria-label="Phù hợp da">
                    </div>
                  </div>
                </div>
                <!-- End Form Phù hợp da -->

                <!-- Form So sánh -->
                <div class="row mb-4" style="display: none;">
                  <label for="inputEditCompare" class="col-sm-3 col-form-label form-label">So sánh<span class="form-label-secondary">*</span></label>
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                      <input type="text" class="form-control" name="compare" id="inputEditCompare" placeholder="So sánh" aria-label="So sánh">
                    </div>
                  </div>
                </div>
                <!-- End Form So sánh -->

                <!-- Form Công dụng -->
                <div class="row mb-4">
                  <label for="inputEditFunction" class="col-sm-3 col-form-label form-label">Công dụng<span class="form-label-secondary">*</span></label>
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                      <input type="text" class="form-control" name="function" id="inputEditFunction" placeholder="Công dụng" aria-label="Công dụng">
                    </div>
                  </div>
                </div>
                <!-- End Form Công dụng -->

                <!-- Form Tần suất sử dụng -->
                <div class="row mb-4">
                  <label for="inputEditDosage" class="col-sm-3 col-form-label form-label">Tần suất sử dụng<span class="form-label-secondary">*</span></label>
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                      <input type="text" class="form-control" name="dosage" id="inputEditDosage" placeholder="Tần suất sử dụng" aria-label="Tần suất sử dụng">
                    </div>
                  </div>
                </div>
                <!-- End Form Tần suất sử dụng -->

                <!-- Form Từ khóa Routine -->
                <div class="row mb-4">
                  <label for="inputEditKeyword" class="col-sm-3 col-form-label form-label">Từ khóa Routine<span class="form-label-secondary">*</span></label>
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                      <input type="text" class="form-control" name="keyword" id="inputEditKeyword" placeholder="Từ khóa Routine" aria-label="Từ khóa Routine">
                    </div>
                  </div>
                </div>
                <!-- End Form Từ khóa Routine -->

                <!-- Form Ước lượng sử dụng -->
                <div class="row mb-4">
                  <label for="inputEditEstimate" class="col-sm-3 col-form-label form-label">Ước lượng sử dụng<span class="form-label-secondary">*</span></label>
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                      <input type="text" class="form-control" name="estimate" id="inputEditEstimate" placeholder="Ước lượng sử dụng" aria-label="Ước lượng sử dụng">
                    </div>
                  </div>
                </div>
                <!-- End Form Ước lượng sử dụng -->

  
                <!-- Form Lưu ý-->
                <div class="row mb-4">
                  <label for="inputEditNote" class="col-sm-3 col-form-label form-label">Lưu ý <span class="form-label-secondary">*</span></label>
  
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                      <input type="text" class="js-masked-input form-control" name="note" id="inputEditNote" placeholder="Lưu ý" aria-label="Lưu ý" >
  
                      
                    </div>
                  </div>
                </div>
                <!-- End Form Email-->
  
                <div class="alert alert-danger" role="alert" id="ShowEditMessage" style="display: None;">
                  
                </div>
  
                <div class="alert alert-success" role="alert" id="ShowEditMessageSuccess" style="display: None;">
                  
                </div>
  
                <div class="d-flex justify-content-end">
                  <div class="d-flex gap-3">
                    <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Hủy</button>
                    <button type="button" class="btn btn-primary btn-update-product">Lưu</button>
                  </div>
                </div>
              </form>
            </div>
  
            
          </div>
          <!-- End Tab Content -->
        </div>
        <!-- End Body -->
      </div>
    </div>
</div>
<!-- End Edit Product -->

<!-- Delete Product -->
<div class="modal fade" id="DeleteProduct" tabindex="-1" aria-labelledby="DeleteProductLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteProductLabel">Xóa sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <!-- Nav Scroller -->
        <div class="js-nav-scroller hs-nav-scroller-horizontal">
          <span class="hs-nav-scroller-arrow-prev" style="display: none;">
            <a class="hs-nav-scroller-arrow-link" href="javascript:;">
              <i class="bi-chevron-left"></i>
            </a>
          </span>

          <span class="hs-nav-scroller-arrow-next" style="display: none;">
            <a class="hs-nav-scroller-arrow-link" href="javascript:;">
              <i class="bi-chevron-right"></i>
            </a>
          </span>

          
        </div>
        <!-- End Nav Scroller -->

        <!-- Tab Content -->
        <div class="tab-content" id="AddCustommerTabContent">
          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <form id="DeleteProductForm">

              <input type="text" style="display: None;" id="inputDeleteId" value="">
            
              <!-- Form Sản phẩm -->
              <div class="row mb-4">
                <label for="inputDeleteProduct" class="col-sm-3 col-form-label form-label">Sản phẩm <span class="form-label-secondary">*</span></label>

                <div class="col-sm-9">
                  <div class="input-group input-group-sm-vertical">
                    <input type="text" class="form-control" name="product" id="inputDeleteProduct" placeholder="Sản phẩm " aria-label="Sản phẩm " readonly disabled>
                  </div>
                </div>
              </div>
              <!-- End Form Sản phẩm -->

              <!-- Form Tác dụng-->
              <div class="row mb-4">
                <label for="inputDeleteFunction" class="col-sm-3 col-form-label form-label">Tác dụng <span class="form-label-secondary">*</span></label>

                <div class="col-sm-9">
                  <input type="text" class="form-control" name="function" id="inputDeleteFunction"  placeholder="Tác dụng" aria-label="Tác dụng"  readonly disabled>
                </div>
              </div>
              <!-- End Form Tác dụng-->

              <!-- Form Liều dùng-->
              <div class="row mb-4">
                <label for="inputDeleteDosage" class="col-sm-3 col-form-label form-label">Liều dùng <span class="form-label-secondary">*</span></label>

                <div class="col-sm-9">
                  <div class="input-group input-group-sm-vertical">
                    <input type="text" class="js-masked-input form-control" name="dosage" id="inputDeleteDosage" placeholder="Liều dùng" aria-label="Liều dùng" readonly disabled>

                    
                  </div>
                </div>
              </div>
              <!-- End Form Liều dùng-->

              <!-- Form Lưu ý-->
              <div class="row mb-4">
                <label for="inputDeleteNote" class="col-sm-3 col-form-label form-label">Lưu ý <span class="form-label-secondary">*</span></label>

                <div class="col-sm-9">
                  <div class="input-group input-group-sm-vertical">
                    <input type="text" class="js-masked-input form-control" name="note" id="inputDeleteNote" placeholder="Lưu ý" aria-label="Lưu ý" >
                    
                  </div>
                </div>
              </div>
              <!-- End Form Email-->

              <div class="alert alert-danger" role="alert" id="ShowDeleteMessage" style="display: None;">
                
              </div>

              <div class="alert alert-success" role="alert" id="ShowDeleteMessageSuccess" style="display: None;">
                
              </div>

              <div class="d-flex justify-content-end">
                <div class="d-flex gap-3">
                  <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Hủy</button>
                  <button type="button" class="btn btn-danger btn-delete-product">Xóa</button>
                </div>
              </div>
            </form>
          </div>

          
        </div>
        <!-- End Tab Content -->
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>
<!-- End delete Product -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    // get id delete  Product
    $(document).on('click', '.btn-get-delete-product', function(event) {
      var get_id = (this.getAttribute('delete-id-product'));
      // console.log(get_id);

      $.ajax({
        type: 'GET',
        url: "manage/delete/product/"+get_id,
        data: {
          'csrfmiddlewaretoken': '{{csrf_token}}',
          'id': get_id
          },
        headers: { "X-CSRFToken": "{{csrf_token}}" },
        success: function (data, textStatus, xhr) {
          // on successfull creating object
          // console.log(data['data_product']);
          if (data['type'] == 'success') {
            $('#DeleteProductForm').trigger('reset');
            
            document.getElementById("inputDeleteId").value = get_id;
            document.getElementById("inputDeleteProduct").value = data['data_product']['product'];
            document.getElementById("inputDeleteFunction").value = data['data_product']['function'];
            document.getElementById("inputDeleteDosage").value = data['data_product']['dosage']; 
            document.getElementById("inputDeleteNote").value = data['data_product']['note']; 

          } else {
            document.getElementById("ShowDeleteMessage").style.display = "block";
            document.getElementById("ShowDeleteMessage").innerHTML =  data['message'];

          }

        },
        error: function (response) {
          document.getElementById("ShowDeleteMessage").style.display = "block";
          document.getElementById("ShowDeleteMessage").innerHTML = data['message'];
        }
      
      })
    
    });


    // delete Product
    $(document).on('click', '.btn-delete-product', function(event) {
      var id_delete = document.getElementById("inputDeleteId").value;
      // console.log(id_delete);

      // document.getElementById("content-name-organization").innerHTML = $('.nameorganization').val();
      // document.getElementById("content-code-organization").innerHTML = "abc";

      $.ajax({
        type: 'POST',
        url: "manage/delete/product/"+id_delete,

        data: {
          'csrfmiddlewaretoken': '{{csrf_token}}',
          'id': id_delete,
          },
        headers: { "X-CSRFToken": "{{csrf_token}}" },
        success: function (data, textStatus, xhr) {
          if (data['type'] == 'success') {
            alert(data['message'])
            window.location.reload();

          } else {
            alert(data['message'])

          }

        },
        error: function (data, textStatus, xhr) {
          alert(data['message'])
        }
      })


    });

</script>


{% endblock content %}
{% block js_custom %}

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // INITIALIZATION OF DATERANGEPICKER
    // =======================================================
    $('.js-daterangepicker').daterangepicker();

    $('.js-daterangepicker-times').daterangepicker({
      timePicker: true,
      startDate: moment().startOf('hour'),
      endDate: moment().startOf('hour').add(32, 'hour'),
      locale: {
        format: 'M/DD hh:mm A'
      }
    });

    var start = moment();
    var end = moment();

    function cb(start, end) {
      $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
    }

    $('#js-daterangepicker-predefined').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      }
    }, cb);

    cb(start, end);
  });


  // INITIALIZATION OF DATATABLES
  // =======================================================
  HSCore.components.HSDatatables.init($('#datatable'), {
    select: {
      style: 'multi',
      selector: 'td:first-child input[type="checkbox"]',
      classMap: {
        checkAll: '#datatableCheckAll',
        counter: '#datatableCounter',
        counterInfo: '#datatableCounterInfo'
      }
    },
    language: {
      zeroRecords: `<div class="text-center p-4">
            <img class="mb-3" src="{% static 'assets/svg/illustrations/oc-error.svg' %}" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
            <img class="mb-3" src="{% static 'assets/svg/illustrations-light/oc-error.svg' %}" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
          <p class="mb-0">Không có dữ liệu</p>
          </div>`
    }
  });

  const datatable = HSCore.components.HSDatatables.getItem(0)

  document.querySelectorAll('.js-datatable-filter').forEach(function (item) {
    item.addEventListener('change',function(e) {
      const elVal = e.target.value,
  targetColumnIndex = e.target.getAttribute('data-target-column-index'),
  targetTable = e.target.getAttribute('data-target-table');

  HSCore.components.HSDatatables.getItem(targetTable).column(targetColumnIndex).search(elVal !== 'null' ? elVal : '').draw()
    })
  })
</script>

<!-- JS Plugins Init. -->
<script>
  (function() {
    // INITIALIZATION OF FLATPICKR
    // =======================================================
    HSCore.components.HSFlatpickr.init('.js-flatpickr')
  });
</script>

<!-- JS Plugins Init. -->
<script>
  (function () {
    // INITIALIZATION OF DATATABLES
    // =======================================================
    HSCore.components.HSDatatables.init('.js-datatable')
  })()
</script>

<!-- JS Plugins Init. -->
<script>
  (function() {
    window.onload = function () {
      

      // INITIALIZATION OF NAVBAR VERTICAL ASIDE
      // =======================================================
      new HSSideNav('.js-navbar-vertical-aside').init()


      // INITIALIZATION OF FORM SEARCH
      // =======================================================
      const HSFormSearchInstance = new HSFormSearch('.js-form-search')

      if (HSFormSearchInstance.collection.length) {
        HSFormSearchInstance.getItem(1).on('close', function (el) {
          el.classList.remove('top-0')
        })

        document.querySelector('.js-form-search-mobile-toggle').addEventListener('click', e => {
          let dataOptions = JSON.parse(e.currentTarget.getAttribute('data-hs-form-search-options')),
            $menu = document.querySelector(dataOptions.dropMenuElement)

          $menu.classList.add('top-0')
          $menu.style.left = 0
        })
      }


      // INITIALIZATION OF BOOTSTRAP DROPDOWN
      // =======================================================
      HSBsDropdown.init()


      // INITIALIZATION OF CHARTJS
      // =======================================================
      Chart.plugins.unregister(ChartDataLabels);
      HSCore.components.HSChartJS.init('.js-chart')


      // INITIALIZATION OF CHARTJS
      // =======================================================
      HSCore.components.HSChartJS.init('#updatingBarChart')
      const updatingBarChart = HSCore.components.HSChartJS.getItem('updatingBarChart')

      // Call when tab is clicked
      document.querySelectorAll('[data-bs-toggle="chart-bar"]').forEach(item => {
        item.addEventListener('click', e => {
          let keyDataset = e.currentTarget.getAttribute('data-datasets')

          const styles = HSCore.components.HSChartJS.getTheme('updatingBarChart', HSThemeAppearance.getAppearance())

          if (keyDataset === 'lastWeek') {
            updatingBarChart.data.labels = ["Apr 22", "Apr 23", "Apr 24", "Apr 25", "Apr 26", "Apr 27", "Apr 28", "Apr 29", "Apr 30", "Apr 31"];
            updatingBarChart.data.datasets = [
              {
                "data": [120, 250, 300, 200, 300, 290, 350, 100, 125, 320],
                "backgroundColor": styles.data.datasets[0].backgroundColor,
                "hoverBackgroundColor": styles.data.datasets[0].hoverBackgroundColor,
                "borderColor": styles.data.datasets[0].borderColor
              },
              {
                "data": [250, 130, 322, 144, 129, 300, 260, 120, 260, 245, 110],
                "backgroundColor": styles.data.datasets[1].backgroundColor,
                "borderColor": styles.data.datasets[1].borderColor
              }
            ];
            updatingBarChart.update();
          } else {
            updatingBarChart.data.labels = ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7", "May 8", "May 9", "May 10"];
            updatingBarChart.data.datasets = [
              {
                "data": [200, 300, 290, 350, 150, 350, 300, 100, 125, 220],
                "backgroundColor": styles.data.datasets[0].backgroundColor,
                "hoverBackgroundColor": styles.data.datasets[0].hoverBackgroundColor,
                "borderColor": styles.data.datasets[0].borderColor
              },
              {
                "data": [150, 230, 382, 204, 169, 290, 300, 100, 300, 225, 120],
                "backgroundColor": styles.data.datasets[1].backgroundColor,
                "borderColor": styles.data.datasets[1].borderColor
              }
            ]
            updatingBarChart.update();
          }
        })
      })


      // INITIALIZATION OF CHARTJS
      // =======================================================
      HSCore.components.HSChartJS.init('.js-chart-datalabels', {
        plugins: [ChartDataLabels],
        options: {
          plugins: {
            datalabels: {
              anchor: function (context) {
                var value = context.dataset.data[context.dataIndex];
                return value.r < 20 ? 'end' : 'center';
              },
              align: function (context) {
                var value = context.dataset.data[context.dataIndex];
                return value.r < 20 ? 'end' : 'center';
              },
              color: function (context) {
                var value = context.dataset.data[context.dataIndex];
                return value.r < 20 ? context.dataset.backgroundColor : context.dataset.color;
              },
              font: function (context) {
                var value = context.dataset.data[context.dataIndex],
                  fontSize = 25;

                if (value.r > 50) {
                  fontSize = 35;
                }

                if (value.r > 70) {
                  fontSize = 55;
                }

                return {
                  weight: 'lighter',
                  size: fontSize
                };
              },
              offset: 2,
              padding: 0
            }
          }
        }
      })

      // INITIALIZATION OF SELECT
      // =======================================================
      HSCore.components.HSTomSelect.init('.js-select')


      // INITIALIZATION OF CLIPBOARD
      // =======================================================
      HSCore.components.HSClipboard.init('.js-clipboard')
    }
  })()
</script>

<!-- Style Switcher JS -->
<script>
    (function () {
      // STYLE SWITCHER
      // =======================================================
      const $dropdownBtn = document.getElementById('selectThemeDropdown') // Dropdowon trigger
      const $variants = document.querySelectorAll(`[aria-labelledby="selectThemeDropdown"] [data-icon]`) // All items of the dropdown
      // Function to set active style in the dorpdown menu and set icon for dropdown trigger
      const setActiveStyle = function () {
        $variants.forEach($item => {
          if ($item.getAttribute('data-value') === HSThemeAppearance.getOriginalAppearance()) {
            $dropdownBtn.innerHTML = `<i class="${$item.getAttribute('data-icon')}" />`
            return $item.classList.add('active')
          }

          $item.classList.remove('active')
        })
      }

      // Add a click event to all items of the dropdown to set the style
      $variants.forEach(function ($item) {
        $item.addEventListener('click', function () {
          HSThemeAppearance.setAppearance($item.getAttribute('data-value'))
        })
      })

      // Call the setActiveStyle on load page
      setActiveStyle()

      // Add event listener on change style to call the setActiveStyle function
      window.addEventListener('on-hs-appearance-change', function () {
        setActiveStyle()
      })
    })()
  </script>

<!-- End Style Switcher JS -->

<script>
  (function () {
    // INITIALIZATION OF DATATABLES
    // =======================================================
    HSCore.components.HSDatatables.init('.js-datatable')
    const datatableSortingColumn = HSCore.components.HSDatatables.getItem('datatable')
    document.getElementById('toggleColumn_product').addEventListener('change', function (e) {
      datatableSortingColumn.columns(1).visible(e.target.checked)
    })

    document.getElementById('toggleColumn_price').addEventListener('change', function (e) {
      datatableSortingColumn.columns(2).visible(e.target.checked)
    })

    document.getElementById('toggleColumn_function').addEventListener('change', function (e) {
      datatableSortingColumn.columns(3).visible(e.target.checked)
    })

    document.getElementById('toggleColumn_dosage').addEventListener('change', function (e) {
      datatableSortingColumn.columns(4).visible(e.target.checked)
    })

    document.getElementById('toggleColumn_keyword').addEventListener('change', function (e) {
      datatableSortingColumn.columns(5).visible(e.target.checked)
    })

    document.getElementById('toggleColumn_estimate').addEventListener('change', function (e) {
      datatableSortingColumn.columns(6).visible(e.target.checked)
    })

    document.getElementById('toggleColumn_note').addEventListener('change', function (e) {
      datatableSortingColumn.columns(7).visible(e.target.checked)
    })
  })()
</script>
{% endblock js_custom %}